<div>
  <div>
    <h2>HEPH Condorcet</h2>
    <span>Negundo</span>
    <p>Bachelier en e-Business</p>
    <p>Diplomé en juin 2015</p>
    <p>Formation préparant aux métiers du web et développe les compétences en gestion</p>
  </div>
  <div>
    <h2>Technocité</h2>
    <span>Hornu</span>
    <p>Formation développeur javascript</p>
    <p>fin en novembre 2019</p>
    <p>Formation enseignant les technologies de développement en Front-End.(HTML5 & CSS3, JQuery, Node JS, Mongo DB, Angular JS, Ember JS, ...)</p>
  </div>
</div>