<div>
  <div>
    <h2>
      Formation développeur javascript <br>
      <span>
        Technocité & Cefora - <i>site Hornu</i> <br>
        <b>Fin de formation en novembre 2019</b>
      </span>
    </h2>
    <p>
        Formation enseignant les technologies de développement en Front-End.(HTML5 & CSS3, JQuery, Node JS, Mongo DB, Angular JS, Ember JS, ...)
    </p>
  </div>
  <div>
    <h2>
      Bachelier en e-Business <br>
      <span>
        HEPH Condorcet Tournai - <i>site Negundo</i> <br>
        <b>Diplomé en juin 2015</b>
      </span>
    </h2>
    <p>
      Formation préparant aux métiers du web et développant les compétences en gestion. Elle regroupait des cours de programmation (C#, JS, PHP, ...), d'integration (HTML5/CSS3), de droit (social, éthique du web, ...), et de gestion (ERP, gestion de projet, SCRUM).
    </p>
  </div>
</div>
<div>
  <h2>
    CESS option économie/informatique <br>
    <span>
      Ursulines Tournai <br>
      <b>Diplomé en juin 2012</b>
    </span>
  </h2>
  <p>
    Option regroupant l'ensemble des préceptes économiques et faisant découvrir le monde politico-économque. La partie informatique nous a permis de découvrir les bases de la programmation ainsi que la culture du web.
  </p>
</div>