<div>
  <h2>Langues</h2>
  <p>Anglais - Compétences professionnelles</p>
  <p>Français - Langue maternelle</p>
</div>
<div>
  <h2>Langages</h2>
  <ion-chip>
    <ion-label>HTML5</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-label>CSS3</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-label>Javascript</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-label>Php</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-label>Sass</ion-label>
  </ion-chip>
</div>
<div>
  <h2>Frameworks</h2>
  <ion-chip>
    <ion-label>Node JS</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-label>Angular</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-label>Ember</ion-label>
  </ion-chip>
</div>
<div>
  <h2>Atouts</h2>
  <ion-chip>
      <ion-label>Rigoureux</ion-label>
    </ion-chip>
  <ion-chip>
      <ion-label>Créatif</ion-label>
    </ion-chip>
  <ion-chip>
      <ion-label>Autonome</ion-label>
    </ion-chip>
  <ion-chip>
      <ion-label>Travail d'équipe</ion-label>
    </ion-chip>
</div>