h2 > span {
    font-family: "Raleway", sans-serif;
    font-size: 0.5em;
}
fa-icon {
    margin-right: 0.5em;
}
.atouts {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

img {
    margin-right: 0.5em;
}