<!-- Langues -->
<div>
  <h2>Langues</h2>
  <p><b>Anglais</b> - Compétences professionnelles</p>
  <p><b>Français</b> - Langue maternelle</p>
</div>

<!-- Langages -->
<div>    
  <h2>Langages</h2>
  <ion-chip>
    <ion-label>
      <fa-icon [icon]="['fab', 'html5']"></fa-icon>
      HTML5
    </ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>
      <fa-icon [icon]="['fab', 'css3-alt']"></fa-icon>
      CSS3
    </ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>
      <fa-icon [icon]="['fab', 'js-square']"></fa-icon>
      Javascript
    </ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>
      <fa-icon [icon]="['fab', 'php']"></fa-icon>
      Php
    </ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>
      <fa-icon [icon]="['fab', 'sass']"></fa-icon>
      Sass
    </ion-label>
  </ion-chip>
</div>

<!-- Frameworks -->
<div>
  <h2>Frameworks</h2>
  <ion-chip>
    <ion-label>
      <fa-icon [icon]="['fab', 'node-js']"></fa-icon>
      NodeJS
    </ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>
      <fa-icon [icon]="['fab', 'angular']"></fa-icon>
      Angular
    </ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>
      <fa-icon [icon]="['fab', 'ember']"></fa-icon>
      Ember
    </ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>
      <fa-icon [icon]="['fab', 'react']"></fa-icon>
      React
    </ion-label>
  </ion-chip>
</div>

<!-- CMS -->
<div>
  <h2>CMS</h2>
  <ion-chip>
    <ion-label>Wordpress</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-label>Prestashop</ion-label>
  </ion-chip>
</div>


<!-- Atouts -->
<div>
  <h2>Atouts</h2>
  <div class="atouts">
    <div>
      <p>Organisé</p>
      <p>Créatif</p>
    </div>
    <div>
      <p>Autonome</p>
      <p>Travail d'équipe</p>
    </div>
  </div>
</div>
  <!-- <h2>Atouts</h2>
  <ion-chip>
      <ion-label>Organisé</ion-label>
    </ion-chip>
  <ion-chip>
      <ion-label>Créatif</ion-label>
    </ion-chip>
  <ion-chip>
      <ion-label>Autonome</ion-label>
    </ion-chip>
  <ion-chip>
      <ion-label>Travail d'équipe</ion-label>
    </ion-chip>
</div> -->