ion-toolbar {
    --min-height : 40vh;
    text-align: center;
    img {
        width: 160px;
        height: 160px;
        border-radius: 100px;
        border : 5px solid #414042;
    }
}

ion-text {
    color: #8E8F6E;
    font-weight: bold;
    a {
        color: #8E8F6E;
        text-decoration: none;
        font-weight: bold;
    }
}

.reseaux-sociaux {
    display: flex;
    justify-content: center;
    a {
        padding: 0.5em;
        font-family: "Raleway", sans-serif;
        color: #ffffff;
        text-decoration: none;
    }
}

p {
    line-height: 1.5em;
}

