<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div>
      <img src="assets/profil.jpg" alt="profil">
      <h2>
        Jeremy Leclercq
      </h2>
      <div class="reseaux-sociaux">
        <a href="https://www.linkedin.com/in/leclercqjeremy/">
          <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon> <br>
          Linked In
        </a>
        <a href="https://github.com/JeremLec">
          <fa-icon [icon]="['fab', 'github-square']" size="2x"></fa-icon> <br>
          Github
        </a>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Étant à la recherche d'un nouveau défi professionnel, je suis à l'écoute de toutes opportunités professionnelles.
  </p>
  <p>
      N'hésitez pas à me contacter par les différents moyens à votre disposition.
  </p>
  <ion-item lines="full">
    <ion-label>Téléphone</ion-label>
    <ion-text><a href="tel:+32495175445">0495/175445</a></ion-text>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Email</ion-label>
    <ion-text><a href="mailto:leclercq.jeremy@outlook.fr">leclercq.jeremy@outlook.fr</a></ion-text>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Adresse</ion-label>
    <ion-text>Tournai</ion-text>
  </ion-item>
</ion-content>