<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div>
      <img src="assets/profil.jpg" alt="profil">
      <h2>Jeremy Leclercq</h2>
      <h3>Développeur Front-End</h3>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore consequuntur adipisci cumque praesentium tempora
      numquam neque, provident odio molestias minus cum repellendus nesciunt excepturi omnis molestiae ipsum ab soluta
      consequatur.
    </p>
  </div>
  <ion-item lines="full">
    <ion-label>Téléphone</ion-label>
    <ion-text>0495/175445</ion-text>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Email</ion-label>
    <ion-text>leclercq.jeremy@outlook.fr</ion-text>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Adresse</ion-label>
    <ion-text>Tournai</ion-text>
  </ion-item>
</ion-content>