<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <nav-portfolio></nav-portfolio>
  <ion-card>
    <img src="assets/negundo.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Wordpress</ion-card-subtitle>
      <ion-card-title>Negundo Sports</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Ce site a été réalisé dans le cadre d'une refonte. Il a été réalisé sous Wordpress 5. Il y a eu une intégration
        d'un thème choisi par Alexandre, le manager du club Negundo Sports.<br>
        De plus, je me suis occupé de tout ce qui est hébergement et transfert du nom de domaine.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/scannixgreen.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Wordpress + WooCommerce</ion-card-subtitle>
      <ion-card-title>Scannix Green</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        J'ai réalisé la refonte du site Scannix Green. Le site était sur la version 3 Wordpress. La demande était de remettre à niveau le site ainsi que d'intégrer un e-Commerce. 
        Maxime, ami et gérant de Scannix Green, m'a demandé d'intégrer un thème qu'il avait choisi et de m'occuper de WooCommerce. <br>
        Actuellement, le site est en version catalogue et évoluera dans l'avenir vers un véritable e-commerce.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>