<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="full">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer class="ion-padding">
        <!-- <ion-toolbar>
          <ion-title>Footer</ion-title>
        </ion-toolbar> -->
        <ion-button expand="block" href="https://www.dropbox.com/s/netxrd9ae7lva2l/cv-jeremy-leclercq.pdf?dl=0">
            <ion-icon slot="start" name="download"></ion-icon>
            Télécharger CV
        </ion-button>
      </ion-footer>

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>