ion-segment-button {
    --background : #8D8B8F;
    --color : #ffffff;
    --border-color : #ffffff;
    --background-checked : #8E8F6E;
    --background-hover : #8e8f6e;
    --color-checked : #ffffff;
    --indicator-color-checked : #52523e;
    --indicator-color : #52523e;
}