.wrapper {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profil-img {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  img {
    width: 250px;
    height: 250px;
    border : 5px solid #414042;
    border-radius: 50%;
  }
}


.profil-title h1,  .profil-title h2{
  text-align: center;
}
.profil-title h1 {
  font-size: 3.2em;
}
.profil-title h2 {
  font-size: 2em;
  color: #8E8F6E;
}

span {
  border-bottom: 5px solid #8E8F6E;
}

.profil-description {
  padding-top: 1.5em;
  line-height: 1.5em;
}


