<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="profil">
    <div class="profil-img">
      <div>
        <img src="assets/profil.jpg" alt="profil">
      </div>
    </div>
    <div class="profil-title">
      <h1>Jérémy Leclercq</h1>
      <h2><span>Développeur Front-End</span></h2>
    </div>
    <div class="profil-description">
      <p><b>Rigoureux</b>, <b>autodidacte</b> et <b>curieux</b>, je suis capable de m'adapter à toutes situations.</p>
      <p>Je suis <b>organisé</b> dans mon travail et aime le contact avec autrui.</p>
      <p>Ma motivation est le travail. Je suis quelqu'un de <b>passionné</b> et <b>consciencieux</b> dans ce que
        j'entreprends.</p>
    </div>
  </div>
</ion-content>