<!-- <div>
  <h2>Chef de projet</h2>
  <span>6 mois</span>
  <p>
    Suivi de la relation client <br>
    Gestion de projet ERP <br>
    Gestion du ticketing client (debogage) <br>
    Rédaction de propositions commerciales
  </p>
</div>
<div>
  <h2>Chef de projet Open Source</h2>
  <span>2 ans</span>
  <p>
    Création de sites Wordpress ou Prestashop <br>
    Gestion des clients Open Sources <br>
    Gestion de projets <br>
    Debogage et gestion des tickets
  </p>
</div>
<div>
  <h2>Collaborateur</h2>
  <span>5 mois</span>
  <p>
    Service clients <br>
    Nettoyage de la salle et du matériel <br>
    Proactif et organisé dans diverses tâches
  </p>
</div> -->

<div>
  <h2>
    Chef de projet Open Source <br>
    <span>
      Webdigit SPRL - <i>Ghislenghien</i> <br>
      <b>CDI - 2 ans</b>
    </span>
  </h2>
  <ul>
    <li>Création de sites Wordpress ou Prestashop</li>
    <li>Gestion des clients Open Sources</li>
    <li>Gestion de projets</li>
    <li>Debogage et gestion des tickets</li>
  </ul>
</div>
<div>
  <h2>
    Chef de projet <br>
    <span>
      Easy Développement - <i>Lille</i> <br>
      <b>CDD - 6 mois</b>
    </span>
  </h2>
  <ul>
    <li>Suivi de la relation client</li>
    <li>Gestion de projet ERP</li>
    <li>Gestion du ticketing client (debogage)</li>
    <li>Rédaction de propositions commerciales</li>
  </ul>
</div>
<div>
  <h2>
    Collaborateur <br>
    <span>
      Lunch Garden - <i>Shopping les Bastions Tournai</i> <br>
      <b>CDD - 5 mois</b>
    </span>
  </h2>
  <ul>
    <li>Service clients</li>
    <li>Proactif et organisé dans diverses tâches</li>
  </ul>
</div>