<div>
  <h2>Chef de projet</h2>
  <span>6 mois</span>
  <p>
    Suivi de la relation client <br>
    Gestion de projet ERP <br>
    Gestion du ticketing client (debogage) <br>
    Rédaction de propositions commerciales
  </p>
</div>
<div>
  <h2>Chef de projet Open Source</h2>
  <span>2 ans</span>
  <p>
    Création de sites Wordpress ou Prestashop <br>
    Gestion des clients Open Sources <br>
    Gestion de projets <br>
    Debogage et gestion des tickets
  </p>
</div>
<div>
  <h2>Collaborateur</h2>
  <span>5 mois</span>
  <p>
    Service clients <br>
    Nettoyage de la salle et du matériel <br>
    Proactif et organisé dans diverses tâches
  </p>
</div>